body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}
.main__container {
    display: flex;
    height: 100vh;
}
.text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.right__container img {
    height: 100vh;
}